.photoSlider_item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 10px 20px 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    cursor: pointer;
};

.slider_image {
    width: 300px;
    height: 198px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid rgb(4, 199, 4);
    display: block;
    width: 310px;
    height: 120px;
    margin-bottom: 20px;
    object-fit: contain;

    @media screen and (min-width: 1440px) {
        width: 380px;
        height: 250px;
    };
};

.button_delete {
    height: 53px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 12px;
};

.delete_icon {
    width: 34px;
    height: 34px;
    cursor: pointer;
    overflow: visible;
    color: red;
};