.form_container {
    width: 100%;
    display: flex;
    flex-direction: column;
};

.form_label {
    display: flex;
    flex-direction: column;
};

.form_input_name {
    color: #000;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) { 
        font-size: 24px;
    };
};

.form_input {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 17px 5px;
    width: 100%;
    max-width: 737px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: #1679D3;
    outline: none;
    border: none;
    color: #FFF;
    font-family: "OpenSans-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    caret-color: #fff;

    &::placeholder {
        opacity: 1;
        color: #FFF;
        font-family: "OpenSans-Regular";
        font-size: 6px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    };

    @media screen and (min-width: 375px) { 
        &::placeholder {
            font-size: 7px;
        };
    };

    @media screen and (min-width: 420px) { 
        &::placeholder {
            font-size: 8px;
        };
    };

    @media screen and (min-width: 500px) { 
        &::placeholder {
            font-size: 10px;
        };
    };

    @media screen and (min-width: 600px) { 
        &::placeholder {
            font-size: 12px;
        };
    };

    @media screen and (min-width: 690px) { 
        &::placeholder {
            font-size: 14px;
        };
    };

    @media screen and (min-width: 768px) { 
        padding: 17px 16px;
        margin-bottom: 30px;

        &::placeholder {
            font-size: 15px;
        };
    };
};

.uploader_wrapper {
    width: 100%;
};

.form_checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
};

.form_input_checkbox {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    color: #fff;
};

.form_input_checkbox_custom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 2px solid #1679D3;
    border-radius: 2px;
    cursor: pointer;

    @media screen and (min-width: 360px) { 
        width: 24px;
        height: 24px;
    };

};

.form_input_checkbox_custom::before {
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    content: "✔";
    color: #FFF;
    font-size: 22px;
    font-family: 'Zapf Dingbats';
    background-color: #1679D3;
    cursor: pointer;

    @media screen and (min-width: 360px) { 
        width: 24px;
        height: 24px;
    };
};

.form_input_checkbox:checked + .form_input_checkbox_custom::before, .flag {
    display: flex;
    justify-content: center;
    align-items: center;
};

.form_checkbox_text {
    margin-left: 10px;
    color: #000;
    font-family: "OpenSans_Condensed-SemiBold";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media screen and (min-width: 390px) { 
        font-size: 15px;
    };

    @media screen and (min-width: 768px) { 
        font-size: 20px;
        margin-left: 6px;
    };
};

.button_submit {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 737px;
    height: 47px;
    padding: 10px;
    margin-top: 42px;
    background-color: #FC0;
    border-radius: 12px;
    color: #000;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    outline: none;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        justify-content: flex-start; 
        height: 53px;
        padding: 17px 16px;
        margin-top: 40px;
    };
};

.loader_container {
    display: flex;
    box-sizing: border-box;;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    height: 47px;

    @media screen and (min-width: 768px) {
        justify-content: flex-start;
        height: 53px;
        padding: 17px 16px;
        margin-top: 40px;
    };
};

.request_container {
    width: 100%;
    max-width: 737px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 42px;
    height: 47px;
    border-radius: 12px;
    background: #FC0;

    @media screen and (min-width: 768px) {
        justify-content: flex-start; 
        height: 53px;
        padding: 17px 16px;
        margin-top: 40px;
    };
};

.request_container_fail { 
    width: 100%;
    max-width: 737px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 42px;
    height: 47px;
    border-radius: 12px;
    background: #FC0;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        justify-content: flex-start; 
        height: 53px;
        padding: 17px 16px;
        margin-top: 40px;
    };
};

.request_text {
    color: #000;
    text-align: center;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 390px) {
        font-size: 16px;
    };

    @media screen and (min-width: 1024px) {
        font-size: 20px;
    };

};

.icon_fail {
    width: 28px;
    height: 28px;
    margin-right: 10px;

    @media screen and (min-width: 1024px) {
        width: 40px;
        height: 40px;
    };
};
