.container {
    width: 100vw;
    max-width: 1600px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
};

.title_container {
    width: 100%;
    height: 110px;
    margin-top: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1679D3;

    @media screen and (min-width: 768px) { 
        height: 248px;
    };

    @media screen and (min-width: 1024px) { 
        margin-top: 120px;
    };

    @media screen and (min-width: 1400px) { 
        margin-top: 150px;
    };
};

.title {
    margin: 0px;
    color: #FFF;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    user-select: none;

    @media screen and (min-width: 390px) { 
        font-size: 32px;
    };

    @media screen and (min-width: 768px) { 
        font-size: 48px;
    };
};

.content_container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 17px 32px 17px;

    @media screen and (min-width: 1024px) { 
        padding: 80px 147px 72px 147px;
    };

};

.contacts_container {
    margin-bottom: 40px;

    @media screen and (min-width: 1024px) { 
        max-width: 400px;
    };

    @media screen and (min-width: 1400px) { 
        max-width: 569px;
    };
};

.contact_name {
    margin-bottom: 0px;
    margin-top: 0px;
    color: #000;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &:nth-child(n + 2) {
        margin-top: 25px;
    };

    @media screen and (min-width: 370px) { 
        font-size: 20px;
    };

    @media screen and (min-width: 768px) { 
        font-size: 24px;

        &:nth-child(n + 2) {
            margin-top: 30px;
        };
    };
};

.address {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #000;
    font-family: "OpenSans_Condensed-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (min-width: 370px) { 
        font-size: 16px;
    };

    @media screen and (min-width: 768px) { 
        font-size: 20px;
        margin-top: 5px;
    };
};

.contact_link {
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #1679D3;
    font-family: "OpenSans_Condensed-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    
    @media screen and (min-width: 370px) { 
        font-size: 16px;
    };

    @media screen and (min-width: 768px) { 
        font-size: 20px;
        margin-top: 5px;
    };
};
