.container {
    max-width: 1600px;
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
};

.title_container {
    max-width: 1600px;
    width: 100vw;
    height: 248px;
    background-color: #1679D3;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
};

.title {
    color: #FFF;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.details_container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 0px 63px 147px;
};

.payment_details {
    margin-bottom: 20px;
    color: #000;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.input_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
};

.input_option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    position: relative;

    &:nth-child(n+2) {
        margin-left: 30px;
    };
};

.radio_button {
    opacity: 0;
    position: absolute;
    cursor: pointer;  
};

.custom_button {
    display: flex;
    box-sizing: border-box;
    width: 56px;
    height: 53px;
    border: 3px solid #1679D3;
};

.custom_button::before {
    content: '';
    position: absolute;
    display: none;
    width: 53px;
    height: 50px;
    background-color: #1679D3;
};

.radio_button:checked + .custom_button::before {
    display: flex;
};

.input_name {
    position: absolute;
    color: #000;
    font-family: "OpenSans_Condensed-SemiBold";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
};

.radio_button:checked ~ .input_name {
    color: #FFF;
};

.details_name_IBAN {
    margin-top: 40px;
    color: #000;
    font-family: "OpenSans_Condensed-SemiBold";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
};

.details_name_VAT {
    position: relative;
    margin-top: 10px;
    margin-bottom: 28px;
    color: #000;
    font-family: "OpenSans_Condensed-SemiBold";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &::after {
        position: absolute;
        content: "";
        background-color: #FC0;
        width: 487px;
        height: 1px;
        bottom: -28px;
        left: 0px;
    };
};

.name_container {
    display: flex;
    flex-direction: column;
};

.name_company {
    width: 717px;
    margin-top: 22px;
    color: #000;
    font-family: "OpenSans_Condensed-Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};

.name_text {
    margin-top: 40px;
    color: #000;
    font-family: "OpenSans_Condensed-Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};