.container {
    width: 100vw;
    max-width: 1600px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
};

.title_container {
    width: 100vw;
    height: 110px;
    margin-top: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1679D3;

    @media screen and (min-width: 768px) { 
        height: 248px;
    };

    @media screen and (min-width: 1024px) { 
        margin-top: 120px;
    };

    @media screen and (min-width: 1400px) { 
        margin-top: 150px;
    };
};

.title {
    margin: 0px;
    color: #FFF;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    user-select: none;

    @media screen and (min-width: 390px) { 
        font-size: 32px;
    };

    @media screen and (min-width: 768px) { 
        font-size: 48px;
    };

    @media screen and (min-width: 1024px) { 
        font-size: 64px;
    };
};

.bank_details_container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 17px 32px 17px;

    @media screen and (min-width: 1024px) { 
        padding: 80px 147px 63px 147px;
    };
};