.container {
    max-width: 1600px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    min-height: 150vh;
};

.title_container {
    width: 100vw;
    height: 110px;
    margin-top: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1679D3;

    @media screen and (min-width: 768px) { 
        height: 248px;
    };

    @media screen and (min-width: 1024px) { 
        margin-top: 120px;
    };

    @media screen and (min-width: 1400px) { 
        margin-top: 150px;
    };
};

.title {
    margin: 0px;
    color: #FFF;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    user-select: none;

    @media screen and (min-width: 390px) { 
        font-size: 32px;
    };

    @media screen and (min-width: 768px) { 
        font-size: 48px;
    };
};

.news_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0px;
    padding: 40px 17px 40px 17px;
    box-sizing: border-box;
    list-style-type: none;

    @media screen and (min-width: 1024px) {
        padding: 70px 147px 70px 147px;
        gap: 50px;
    };
};

.news_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    };
};

.photo {
    display: block;
    width: 100%;
    border-radius: 14px;
    object-fit: cover;
    height: calc(100vw/2);

    @media screen and (min-width: 768px) {
        min-width: 400px;
        height: calc(100vw/3);
    };

    @media screen and (min-width: 1024px) {
        min-width: 400px;
        height: calc(100vw/4);
    };

    @media screen and (min-width: 1280px) {
        min-width: 590px;
        max-height: 390px;
    };

};

.description_container {
    width: 100%;
    margin-top: 20px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-left: 30px;
        justify-content: space-between;
    };

    @media screen and (min-width: 1024px) {
        margin-left: 63px;
    };
};

.description {
    color: #000;
    font-family: "OpenSans_Condensed-SemiBold";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    word-break: break-all;

    @media screen and (min-width: 1024px) {
        font-size: 40px;
    };
};

.date_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    align-items: flex-end;
};

.date {
    color: #000;
    font-family: "OpenSans_Condensed-Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};

.arrow_image {
    display: block;
    width: 25px;
    height: 25px;

    @media screen and (min-width: 1024px) {
        width: 50px;
        height: 50px;
    };
};

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: #1679D3;
    color: #FFF;
    margin-bottom: 50px;
    cursor: pointer;
    font-family: "OpenSans_Condensed-SemiBold";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (min-width: 1024px) {
        width: 300px;
        height: 70px;
        font-size: 24px;
    };
};

.wrapper {
    width: 100vw;
    height: 100vh;
};

.button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
};