.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 630px;
    padding: 0px 110px 0px 0px;
};

.input {
    display: flex;
    width: 500px;
    padding: 17px 16px;
    justify-content: center;
    align-items: center;
    background: #1679D3 !important;
    color: #fff;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: "OpenSans-Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;

    &::placeholder {
        color: #fff;
        font-family: "OpenSans-Regular";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 1;
    };
};

.button_submit {
    width: 153px;
    height: 53px;
    color: #000;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    background: #FC0;
    border: none;
    outline: none;
    color: #000;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.form_title {
    color: #000;
    font-family: 'OpenSans_Condensed-Bold';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.6px;
    margin-bottom: 30px;
};

.textarea {
    width: 500px;
    height: 140px;
    box-sizing: border-box;
    background-color: #1679D3;
    border-radius: 12px;
    outline: none;
    border-right: 18px solid #1679D3;
    border-top: 11px solid #1679D3;
    border-left: 15px solid #1679D3;
    border-bottom: 11px solid #1679D3;
    color: #FFF;
    font-family: "OpenSans-Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 1;
    margin-bottom: 20px;
    resize: none;

    &::placeholder {
        color: #FFF;
        font-family: "OpenSans-Regular";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 1;
    };
};

.textarea::-webkit-scrollbar {
    width: 10px;
};
   
.textarea::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
};
   
.textarea::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: #FC0;
};

.loader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 52px;
};

.succesfull_request {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 394px;
    height: 53px;
    color: #000;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 12px;
    background: #FC0;
};

.button_refresh {
    width: 324px;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    cursor: pointer;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 12px;
    background: #FC0;
    border: none;
    outline: none;
};

.icon_fail {
    width: 34px;
    height: 34px;
    margin-right: 10px;  
};