.background_container {
    width: 100vw;
    background-color: #1679D3;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
};

.container {
    position: relative;
    width: 100vw;
    max-width: 1600px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    box-sizing: border-box;
    padding: 0px 17px 0px 17px;

    @media screen and (min-width: 1024px) { 
        height: 350px;
        padding: 0px 147px 0px 147px;
    };
};

.title {
    text-align: center;
    margin-top: 31px;
    color: #FFF;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1024px) { 
        text-align: start;
        font-size: 48px;
        margin-bottom: 36px;
        margin-top: 30px;
    };
};

.achievements_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 37px;

    @media screen and (min-width: 1024px) { 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;

        :nth-child(n+2) {
            margin-left: 73px;
        };
    };
};

.achievement_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 30px;

    @media screen and (min-width: 1024px) { 
        margin-top: 0px;
    };

};

.achievement_box {
    width: 77px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FC0;
    color: #000;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 26px;
    border-radius: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1024px) { 
        width: 128px;
        height: 85px;
        font-size: 40px;
    };
};

.achievement_text {
    color: #FFF;
    font-family: "OpenSans_Condensed-SemiBold";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 0px !important;

    @media screen and (min-width: 1024px) { 
        font-size: 24px;
    };

};

.union {
    position: absolute;
    display: none;
    width: 80px;
    height: 80px;
    top: -65px;
    left: 132px;
    background-image: url("../../images/Union_yellow.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width: 1024px) {
        display: flex;
    };
};