.container {
    width: 100vw;
    position: fixed;
    z-index: 5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #1679D3;
};

.background_container_header {
    width: 100vw;
    background-color:#000;
    display: flex;
    align-items: center;
    justify-content: center;
};

.container_header {
    width: 100%;
    max-width: 1600px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    @media screen and (min-width: 1024px) { 
        justify-content: flex-end;
    };

};

.support_link {
    font-size: 14px;
    color: #FC0;
    font-family: "OpenSans_Condensed-ExtraBold";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
    @media screen and (min-width: 1024px) {
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-decoration: none; 
    };
};

.request_link {
    color: #1679D3;
    font-family: "OpenSans_Condensed-ExtraBold";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @media screen and (min-width: 1024px) {
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-decoration: none; 
    };
};

.text {
    margin: 0px 10px;
    color: #FFF;
    font-family: "OpenSans_Condensed-ExtraBold";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1024px) {
        margin: 0px 17px;
        font-size: 20px;
        font-weight: 800;
    };
    
};

.links_social {
    display: none;

    @media screen and (min-width: 1024px) {
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 147px;
    
        :nth-child(n+2) {
            margin-left: 10px;
        };
    };
};

.social_logos {
    width: 18px;
    height: 18px;
};

.background_container_navigation {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
};

.container_navigation {
    width: 100%;
    max-width: 1600px;
    height: 52px;
    background-color:#FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 17px 7px 17px;

    @media screen and (min-width: 1024px) {
        height: 70px;
        padding: 0px 147px 0px 141px;
    };

    @media screen and (min-width: 1400px) {
        height: 100px;
    };

};

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
};

.navigation {
    display: none;

    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        :nth-child(n+2) {
            margin-left: 10px;
        };
    };

    @media screen and (min-width: 1280px) {
        :nth-child(n+2) {
            margin-left: 20px;
        };
    };

    @media screen and (min-width: 1400px) {
    
        :nth-child(n+2) {
            margin-left: 25px;
        };
    };


};

.navigation_item {
    color: #000;
    font-family: "OpenSans_Condensed-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

    &:hover {
        color: #1679D3;
    };

    @media screen and (min-width: 1280px) {
        font-size: 18px;
    };

    @media screen and (min-width: 1400px) {
        font-size: 20px;
    };

    @media screen and (min-width: 1600px) {
        font-size: 24px;
    };
    
};

.navigation_item_active {
    color: #1679D3;
    font-family: "OpenSans_Condensed-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;

    &::after {
        position: absolute;
        bottom: -3px;
        left: 0;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #1679D3;
    };

    @media screen and (min-width: 1280px) {
        font-size: 18px;
    };

    @media screen and (min-width: 1400px) {
        font-size: 20px;
    };

    @media screen and (min-width: 1600px) {
        font-size: 24px;
    };
};

.language_container {
    display: flex;
    flex-direction: row;

    :nth-child(n+2) {
        margin-left: 5px;
    };

    @media screen and (min-width: 1024px) { 
        margin-left: 46px;

        :nth-child(n+2) {
            margin-left: 10px;
        };
    };

};

.language_item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: "OpenSans_Condensed-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 0px;
    cursor: pointer;

    &:hover {
        color: #1679D3;
    }

    @media screen and (min-width: 1024px) { 
        font-size: 14px;
    };

    @media screen and (min-width: 1280px) {
        font-size: 18px;
    };

    @media screen and (min-width: 1400px) {
        font-size: 20px;
    };

    @media screen and (min-width: 1600px) {
        font-size: 24px;
    };
};

.language_item_current {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1679D3;
    font-family: "OpenSans_Condensed-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 0px;
    cursor: pointer;

    @media screen and (min-width: 1024px) { 
        font-size: 14px;
    };

    @media screen and (min-width: 1280px) {
        font-size: 18px;
    };

    @media screen and (min-width: 1400px) {
        font-size: 20px;
    };

    @media screen and (min-width: 1600px) {
        font-size: 24px;
    };

    &::after {
        position: absolute;
        bottom: -3px;
        left: 0;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #1679D3;
    };
};

.menu_icon {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    

    @media screen and (min-width: 1024px) { 
        display: none;
    };
};

.mobile_menu_active {
    height: 130vh;
    width: 270px;
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    right: 0px;
    background-color: #1679D3;
    padding: 100px 26px 0px 26px;
    z-index: 999;
    transform: translateX(0%);
    transition-duration: 500ms;
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1024px) { 
        display: none;
    };
};

.mobile_menu {
    height: 130vh;
    width: 270px;
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 500ms;
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #1679D3;
    padding: 100px 26px 0px 26px;

    @media screen and (min-width: 1024px) { 
        display: none;
    };
};

.icon_close {
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 18px;
    width: 30px;
    height: 30px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
};

.mobile_navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    :nth-child(n+2) {
        margin-top: 15px;
    };
};

.mobile_navigation_item {
    color: #FFF;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
};

.mobile_buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin-top: 60px;
};

.mobile_request_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    max-width: 218px;
    border-radius: 12px;
    font-size: 16px;
    color: #000;
    background-color: #FC0;
    font-family: "OpenSans_Condensed-ExtraBold";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
};

.mobile_support_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    max-width: 218px;
    border-radius: 12px;
    font-size: 16px;
    color: #1679D3;
    background-color: #FFF;
    font-family: "OpenSans_Condensed-ExtraBold";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin-top: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
};  

.loader_container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: #fff;
    user-select: none;
};