.container {
    max-width: 1600px;
    width: 100vw;
};

.partners {
    padding-left: 147px;
    margin-bottom: 50px;
};

.title {
    color: #000;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.image {
    width: 380px;
    height: 152px;
};