.container {
    max-width: 1600px;
    width: 1600px;
    height: 350px;
    flex-shrink: 0;
    background-color: #1679D3;
    display: flex;
    flex-direction: row;
    position: relative;
};

.description {
    display: flex;
    flex-direction: column;
    padding: 30px 88px 74px 147px;
};

.title {
    color: #FFF;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.text {
    color: #FFF;
    font-family: "OpenSans-Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 19px;
};

.photo_container {
    position: relative;
    z-index: 1;
};

.photo {
    display: block;
    width: 589px;
    height: 350px;
};

.union {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 285px;
    left: -15px;
};

.ellipse_1 {
    position: absolute;
    width: 194px;
    height: 2071px;
    right: 0px;
    top: 0px;
    z-index: 0;
};
