.container {
    width: 100vw;
    max-width: 1600px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
};

.title_container {
    width: 100vw;
    height: 110px;
    margin-top: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1679D3;

    @media screen and (min-width: 768px) { 
        height: 248px;
    };

    @media screen and (min-width: 1024px) { 
        margin-top: 120px;
    };

    @media screen and (min-width: 1400px) { 
        margin-top: 150px;
    };
};

.title {
    margin: 0px;
    color: #FFF;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    user-select: none;

    @media screen and (min-width: 390px) { 
        font-size: 32px;
    };

    @media screen and (min-width: 768px) { 
        font-size: 48px;
    };
};

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 17px 32px 17px;

    @media screen and (min-width: 1024px) { 
        padding: 80px 147px 70px 147px;
    };
};

.form_title {
    color: #000;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 768px) { 
        font-size: 32px;
    };
};

.form_selector {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) { 
        margin-bottom: 34px;
    };
};

.input_option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:nth-child(n+2) {
        margin-left: 15px;
    };

    @media screen and (min-width: 768px) { 
        &:nth-child(n+2) {
            margin-left: 30px;
        };
    };
};

.radio_button {
    opacity: 0;
    position: absolute;
    cursor: pointer;
};

.custom_button {
    display: flex;
    box-sizing: border-box;
    width: 114px;
    height: 48px;
    border: 3px solid #1679D3;
    border-radius: 12px;

    @media screen and (min-width: 768px) { 
        width: 158px;
        height: 59px;
    };
};

.custom_button::before {
    left: 0px;
    top: 0px;
    content: '';
    position: absolute;
    display: none;
    width: 114px;
    height: 48px;
    background-color: #1679D3;
    border-radius: 12px;

    @media screen and (min-width: 768px) { 
        width: 158px;
        height: 59px;
    };
};

.radio_button:checked + .custom_button::before {
    display: flex;
};

.input_name {
    position: absolute;
    color: #000;
    font-family: "OpenSans_Condensed-SemiBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;


    @media screen and (min-width: 768px) { 
        font-size: 24px;
    };
};

.radio_button:checked ~ .input_name {
    color: #FFF;
}; 

