.form_files {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
};

.button_input_file {
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 12px;
    border: 3px solid #1679D3;
    color: #000;
    font-family: "OpenSans_Condensed-SemiBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        background-color: #1679D3;
        color: #FFF;
    };

    @media screen and (min-width: 768px) {
        width: 180px;
        height: 54px;
        font-size: 20px;
        font-size: 16px;
    };
};

.input_file {
    position: absolute;
    opacity: 0;
};

.text {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #000;
    font-family: "OpenSans_Condensed-Regular";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    
    @media screen and (min-width: 340px) { 
        font-size: 12px;
    };

    @media screen and (min-width: 390px) { 
        font-size: 14px;
    };

    @media screen and (min-width: 768px) { 
        font-size: 16px;
    };
};
