@import-normalize; /* bring in normalize.css styles */
@font-face {
  font-family: 'OpenSans_Condensed-Bold';
  src: url(./fonts/OpenSans_Condensed-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'OpenSans_Condensed-ExtraBold';
  src: url(./fonts/OpenSans_Condensed-ExtraBold.woff2) format('woff2');
}

@font-face {
  font-family: 'OpenSans_Condensed-Regular';
  src: url(./fonts/OpenSans_Condensed-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'OpenSans_Condensed-SemiBold';
  src: url(./fonts/OpenSans_Condensed-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(./fonts/OpenSans-Regular.woff2) format('woff2');
}


body {
  width:100vw;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
