.container {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: auto;
};

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;  
};
