.container {
    width: 100vw;
    max-width: 1600px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 102px;

    @media screen and (min-width: 1024px) { 
        margin-top: 120px;
    };

    @media screen and (min-width: 1400px) { 
        margin-top: 150px;
    };
};

.banner {
    display: block;
    width: 100vw;
    max-width: 1600px;
    min-width: 320px;
};

.text {
    position: absolute;
    color: #1679D3;
    font-family: "OpenSans_Condensed-ExtraBold";
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    top: 37%;
    font-size: clamp(36px, 8vw, 158px);
    margin: 0px;
    text-align: center;
};