.container {
    max-width: 1600px;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
};

.banner {
    display: block;
    max-width: 1600px;
    width: 100vw;
};

.text {
    position: absolute;
    top: 220px;
    color: #1679D3;
    font-family: "OpenSans_Condensed-ExtraBold";
    font-size: 158px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
};