.container {
    max-width: 1600px;
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
};

.title_container {
    max-width: 1600px;
    width: 100vw;
    height: 248px;
    background-color: #1679D3;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
};

.title {
    margin: 0px;
    color: #FFF;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.text_container {
    width: 100%;
    margin: auto;
    padding: 80px 147px;
    height: 650px;
};

.text {
    width: 630px;
    margin: 0px;
    color: #000;
    font-family: "OpenSans_Condensed-Bold";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};